<!-- <p>{{ title }}</p>
<h1 class="text-danger fs-1 fw-bold">joe App {{ title }}</h1>
<ul class="npo1">
  <li *ngFor="let course of courses" class="nop">
    {{ course }}
  </li>
</ul>

<button class="btn btn-primary offset-2"
[disabled]="isDisabled" [id]="idA"

>CHANGE</button>
<h1 [class.red-color]=
"isRedColor">joe</h1>
<h1 [ngClass]="{'red-color' : isRedColor ,
 'black-bg' : isBlackColor}">farahat</h1>
<h1 [ngClass]="isRedColor? 'red-color' : 'black-bg'">
    ObidAllah</h1>
<h1 [style.color]="isRedColor ? 'red' : 'black' ">
    kol</h1>
<h1 [ngStyle]="{'color' : 'green'}">
    lol</h1>



    <button class ="btn btn-success" 
    (click)="eventData(true)">CLICK</button>
    <button class ="btn btn-info" 
    (click)="eventData(false)">CLICK</button> -->
<div class="m-3">
  <div class="form-group">
    <label for="exampleInputEmail1">INDEX</label>
    <input
      [(ngModel)]="idx"
      type="number"
      class="form-control"
      id="exampleInputEmail1"
      aria-describedby="emailHelp"
      placeholder="Enter index"
    />
  </div>
  <div class="form-group">
    <label for="formGroupExampleInput">NAME</label>
    <input
      [(ngModel)]="x"
          (input)="getIndex()"

      type="text"
      class="form-control"
      id="formGroupExampleInput"
      placeholder="enter name"
    />
  </div>
</div>
<table class="table table-striped w-75 mx-5">
  <thead>
    <tr>
      <th scope="col">Num</th>
      <th scope="col">Name</th>
      <th scope="col">Age</th>
      <th scope="col">Email</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of data; let i = index">
      <th scope="row">{{ i + 1 }}</th>
      <td *ngIf="i === idx+1; else thisName">{{ x }}</td>
      <ng-template #thisName>
        <td>{{ item.name }}</td>
      </ng-template>
      <td>{{ item.age }}</td>
      <td>{{ item.email }}</td>
    </tr>
  </tbody>
</table>
