.nop {  list-style-type: none;

}
.npo1 {
    font-size: larger;
    font-weight: bold;
    padding: 2rem;
}
#joe:hover{
    background-color: #cc2424;

}
.red-color{
color:red;
font-weight: 800;
}
.black-bg{
background-color:rgb(0, 0, 0);
font-weight: 800;
}
