.sign{
    width: 250px;
    height: 250px;
    position: absolute;
    top: 10rem;
    left: 70rem;
}
.bg{
     background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(174,163,219,0) 0%, rgb(241, 168, 190) 0%, rgb(146, 228, 245) 100%); 
}
.bg1{
     background: rgb(2,0,36);
background: linear-gradient(90deg, rgb(186, 184, 219) 0%, rgba(0,212,255,1) 100%); 
color:black
}