
<div class="m-3">
  <div class="form-group">
    <label for="exampleInputEmail1" class="bg-success fw-bold text-light">INDEX</label>
    <input
      [(ngModel)]="idx"
      (input)="getIndex()"
      type="number"
      class="form-control w-100"
      id="exampleInputEmail1"
      aria-describedby="emailHelp"
      placeholder="Enter index"
    />
  </div>
  <div class="form-group">
    <label for="formGroupExampleInput" class="bg-success fw-bold text-light">NAME</label>
    <input
      [(ngModel)]="x"
      type="text"
      class="form-control w-100"
      id="formGroupExampleInput"
      placeholder="enter name"
    />
  </div>
</div>
<table class="table table-striped table-bordered w-75 mx-5 text-center fs-3">
  <thead >
    <tr >
      <th class="bg-success"scope="col">Num</th>
      <th class="bg-info"scope="col">Name</th>
      <th class="bg-danger"scope="col">Age</th>
      <th class="w-25 bg-warning"scope="col">Email</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of data; let i = index">
      <th scope="row">{{ i + 1 }}</th>
      <td *ngIf="i === idx-1; else thisName">{{ x }}</td>
      <ng-template #thisName>
        <td>{{ item.name }}</td>
      </ng-template>
      <td>{{ item.age }}</td>
      <td>{{ item.email }}</td>
    </tr>
  </tbody>
</table>
<img src="https://signature.freefire-name.com/img.php?f=2&t=Joe" alt="" class="sign">
